table{
    text-align: center;
    border: 3px solid black;
    margin: auto;
    height: 25%;
    width: 30%;
    margin-top: 15%;
}
thead {
    font-weight: bold;
}
.amarelo {
    background-color: yellow;
}
.azul {
    background-color: lightblue;
}
.verde {
    background-color: lightgreen;
}