*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding-top: 10px;
}
header .gmail {
    display: flex;
    align-items: center;
   
}
header .gmail ul{
    display: flex;
    list-style: none;
    align-items: center;

}

header .gmail img{
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

header .gmail a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-size: 14px;
   
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
   }
header .gmail button {
    background-color: #1a73e8;
    margin-right: 20px;
    color: white;
    padding: 10px;
    border: 0;
}
header .gmail button:hover{
    color: black;
}
section{
    display: flex;
    justify-content: center;
}
main img {
    width: 500px;
}
main .form img{
    width: 20px;
    margin-left: 10px;
}
main .form input{
    width: 460px;
    height: 40px;
    border-radius: 300px;
    border: none;
}
main .form{
    width: 580px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app{
    display: flex;
    flex-direction:column;
    
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: center;
    
    margin-top: 30px;
    
}
.app:hover{
    background-color: #ccc;
}

.app .atalho{
    display: flex;
    justify-content: space-around;
    min-width: 100px;
}
.app img{
    width: 20px;
    
}
.app h2{
    font-size: 14px;
}
footer{
    width: 100%;
    margin-top: 227px;
    background-color: #f0f0f0;
    
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eeeeee;
    
}
.footer ul{
    list-style: none;
    display: flex
}
.footer a{
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 12px;
    color: #555;
}
.footer a:hover{
    color: #1a73e8;
}