*{
    margin: 0;
    padding: 0;
}
.header_um{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
}
.header_um .logo1 img{
    width: 200px;
}
.header_um .logo1{
    display: flex;
    align-items: center;
}
.header_um .pesquisa{
    display: flex;
    align-items: center;
}
.header_um .pesquisa img {
    width: 20px;
}
.header_um .pesquisa{
    border: 2px solid black;
    border-radius: 50px;
    width: 350px;
}
.header_um .pesquisa input {
    border: none;
    width: 300px;
    display: inline-block;
    height: 30px;
    margin-left: 5px;
}
.header_um .usuario{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.header_um .usuario a{
    margin-left: 10px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: block;
    background-color:  #1a0dab;;
    text-align: center;
    color: white;
    text-decoration: none;
}
.header_um .usuario a:hover{
    background-color: black;
    color: white;
}
.usuario img{
    width: 20px;
}
.header_2{
    display: flex;
    margin-left: 12.5%;
}
.header_2 ul{
    list-style: none;
    display: flex;
}
.header_2 a{
    padding: 10px;
    text-decoration: none;
    color: #555;
    border-bottom: #555 1px solid;
}
.header_2 a:hover{
    color: blue;
    border-bottom: blue 3px solid;
}
header{
    border-bottom: #555 1px solid;
    height: 128px;
}
main{
    margin-top: 15px;
}
main .number{
    margin-bottom: 5px;
    margin-left: 12.5%;
    color: #555;
}
.container_main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 12.5%;
}
.widget .links{
    line-height: 30px;
    padding-top: 15px;
}

.widget .links .widget_link{
    font-size: 16px;
}
.widget .links a{
    font-size: 25px;
    text-decoration: none;
    display: block;
    color: #1a0dab;;
}
.widget .links:hover{
   text-decoration:underline;
}
    

.widget .widget_description{
    line-height: 23px;
}
.widget{
    width: 600px;
    margin-bottom: 10px;
}
.container_main .widget_description{
    display: block;    
}
.container_section{
    display: flex;
    margin-left: 12.5%;
    margin-top: 30px;
    flex-direction: column;
}
.container_section h3{
    font-size: 23px;
    color: #555;
    margin-bottom: 10px;
}

.container_section .search{
    background-color: #ccc;
    display: flex;
    align-items: center;
    width: 220px;
    height: 30px;
    border-radius: 30px;
    margin-bottom: 5px;
}
.container_section .search a{
    text-decoration: none;
    color: black;
}
.container_section  img{
    width: 20px;
}
.container_section .sectioon{
    display: flex;
    justify-content: space-between;
    width: 450px;
}